body {
	background-color: #4484CE;
    font-size: 16px;
}

#searchInput {
	border-radius: 15px;
	margin-top: 40px;
	margin-bottom: 20px;
}

.button {
    background-color: #F19F4D;
    border: none;
    color: #4484CE;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    width: 100%;
    margin-bottom: 20px;
}


.panel-body {
	background-color: #F19F4D;
	opacity: 1.0;
	text-decoration: none;
	font-size: 2em;
}

.panel-body:hover {
	opacity: 0.9;
	cursor: pointer; 
	cursor: hand;
}

.hideInfo {
	margin-top: 0px;
	display: none;
}

.showInfo {
	margin-top: 5%;
}

.mobile {
	font-size: 80%;
}

img {
	box-shadow: 3px 3px 3px grey;
	border-style: solid;
	border-color: black;
    border-width: 2px;
}

/* Active for anything larger than 767 px, laptop sized */
@media screen and (min-width: 768px){
	
	.panel-group {
		width: 700px;
		margin: auto;
	}

	.panel-body {
		background-color: #F19F4D;
		opacity: 1.0;
		text-decoration: none;
		font-size: 2.5em;
	}

	.panel-body:hover {
		opacity: 0.9;
		cursor: pointer; 
		cursor: hand;
	}

}

/* Active for anything smaller than 532 px, phone sized */
@media screen and (max-width: 532px){
	.mobile {
		font-size: 50%;
		margin-top: 10px;
	}

	.title {
		font-size: 80%;
	}
}