body {
	background-color: #4484CE;
    font-size: 16px;
}

#searchInput {
	border-radius: 15px;
	margin-top: 40px;
	margin-bottom: 20px;
}

.panel-group {
	margin-top: 30px;
}

.panel-body {
	background-color: #F19F4D;
	opacity: 0.9;
	text-decoration: none;
}

.panel-body:hover {
	opacity: 1.0;
	cursor: pointer; 
	cursor: hand;
}